---
const { id } = Astro.params;
import Layout from "../layouts/Layout.astro";
import { projects } from "../assets/data";

export function getStaticPaths () {
    return [
        { params: {id: 'rorro'} },
        { params: {id: 'yelcamp'} },
        { params: {id: 'colorblind'} },
        { params: {id: 'foodApp'} },
        { params: {id: 'simpleGames'} },
        { params: {id: 'weatherApp'} },
        { params: {id: 'spotifyClone'} },
        { params: {id: 'expenseTracker'} },
    ];
}

const card = projects.find((card) => card.image == id);
---

<Layout title={`Project | ${id}`} >

    <!---------- BACKGROUND ---------->
    <div class="relative flex items-center lg:h-screen xs:h-fit">
        <div 
            class="absolute min-h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
            style=`--context-color: ${card.color}`
        >
            <img 
                src={`${id}.jpg`} 
                alt="#"
                class="transition-all duration-500 absolute z-[-1] inset-0 mix-blend-overlay opacity-20 scale-90 
                w-full h-full object-cover blur-md"
            >

            <div class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"></div>
        </div>

    <!---------- MAIN SECTION ---------->
        <div class="flex justify-center items-center w-full h-[80%] xs:h-fit">
            <div class="flex gap-x-10 2xl:mt-2 2xl:w-3/5 2xl:h-fit xl:w-4/5 lg:mt-0
            lg:flex-row lg:h-[90%] xs:w-4/5 xs:flex-col-reverse">
                <img
                    src={`${id}.jpg`}
                    alt="#"
                    class="aspect-video object-cover object-top mx-auto lg:mb-0
                    lg:mt-0 sm:w-[450px] xxs:mt-10 xs:w-[80%] xs:mb-5 xs:mt-20"
                >
            </div>
        </div>
    </div>
</Layout>
